<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.xmrk.rkandroid">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>

        <activity android:name="cn.xmrk.rkandroid.activity.WebViewActivity" />

        <activity
            android:name="cn.xmrk.rkandroid.activity.ChoicePicActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityDialogBottomToTop" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="cn.xmrk.rkandroid.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>
</manifest>
